body {
  background: rgb(241, 238, 238);
}

.cabecera {
  background: rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.fa-instagram {
  font-size: 40px;
}

.logo {
  display: flex;
}

.salir {
  color: red;
  text-decoration: none;
}

.descripcion {
  width: 100%;
}

ul {
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.grid-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background: white;
  width: 500px;
  margin: 30px 0;
}

.titulo {
  background: skyblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.post img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.descripcion {
  padding: 10px;
}
